#internet,
#layout,
#Linear-layout,
#Pathname {
    color: red;
}
a {
    text-decoration: none;
    color: #000;
}
a:visited {
    color: #000;
}
ol > li:hover > a,
li:hover {
    color: red;
    cursor: pointer;
}